<!DOCTYPE html>
<html>
  	<head>
	    <title>Handwritten Digit Recognition</title>
	    <meta charset="UTF-8">
	  	<meta name="viewport" content="width=device-width,initial-scale=1">
	</head>
	<style>
	  		body
	  		{
	  			margin: 0;
	  			padding: 0;
	  		}
	  		.inputBox
	  		{	background-color: #edd9c0;
	  			display: grid;
	  			place-items:center;
	  			height: 100vh;
	  			width: 100vw;
	  			font-size: 30px;
	  		}
	  	</style>
	<body>
		<div class="inputBox">
	  		<p>The number is {{response}}</p>
  		</div>
  	</body>
</html>